* {
  scrollbar-width: 10px;
  scrollbar-color: rgb(67, 67, 67) rgb(48, 46, 46);
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(67, 67, 67);
  border-radius: 20px;
}
*::-webkit-scrollbar-corner {
  background-color: rgb(67, 67, 67);
  border-radius: 20px;
}
*::-webkit-scrollbar:horizontal {
  height: 10px;
}
@media screen and (min-width: 804px) {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 99vw;
    background-color: rgb(48, 46, 46);
    color: white;
  }
  #app {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 99vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .title {
    width: 100%;
    font-size: 20px;
    background-color: rgb(67, 67, 67);
    padding: 1.5% 0 1.5% 1%;
  }
  .musicbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .history {
    margin: 0;
    width: 100%;
    height: 130px;
    overflow: auto;
    font-size: 20px;
    padding: 1.5% 0 1.5% 1%;
    display: none;
  }
  
  .main {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    --auto-grid-min-size: 70%;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--auto-grid-min-size), 1fr)
    );
    grid-template-rows: repeat(3, auto);
    grid-gap: 12px;
  }
  .each_button {
    background-color: rgb(67, 67, 67);
    height: 80px;
    width: 80px;
    border-radius: 3%;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .history_button {
    margin: 5px;
    display: inline-flex;
  }
  .each_button:hover {
    background-color: rgb(43, 43, 43);
    cursor: pointer;
  }
  .each_button:active {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
  }
  .activateOnKey {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
  }
  .main p {
    width: 100%;
    grid-column: 2 / span 10;
    grid-row: 1;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #clap {
    grid-column: 3;
    grid-row: 2;
  }
  #hihat {
    grid-column: 3;
    grid-row: 3;
  }
  #kick {
    grid-column: 4;
    grid-row: 3;
  }
  #openhat {
    grid-column: 5;
    grid-row: 3;
  }
  #boom {
    grid-column: 6;
    grid-row: 3;
  }
  #ride {
    grid-column: 7;
    grid-row: 3;
  }
  #snare {
    grid-column: 8;
    grid-row: 3;
  }
  #tom {
    grid-column: 9;
    grid-row: 3;
  }
  #tink {
    grid-column: 10;
    grid-row: 3;
  }
}
@media screen and (min-width: 501px) and (max-width: 803px) {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 97vw;
    background-color: rgb(48, 46, 46);
    color: white;
  }
  #app {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 97vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .title {
    width: 100%;
    font-size: 20px;
    background-color: rgb(67, 67, 67);
    padding: 1.5% 0 1.5% 3%;
  }
  .musicbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .history {
    margin: 0;
    width: 100%;
    height: 80px;
    overflow: auto;
    font-size: 16px;
    padding: 1.5% 0 1.5% 3%;
    display: none;
  }
  .main {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    --auto-grid-min-size: 70%;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--auto-grid-min-size), 1fr)
    );
    grid-template-rows: repeat(3, auto);
    grid-gap: 12px;
  }
  .each_button {
    background-color: rgb(67, 67, 67);
    height: 50px;
    width: 50px;
    border-radius: 3%;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .history_button {
    margin: 5px;
    display: inline-flex;
  }
  .each_button:hover {
    background-color: rgb(43, 43, 43);
    cursor: pointer;
  }
  .each_button:active {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
  }
  .main p {
    margin-left: 20px;
    width: 100%;
    grid-column: 2 / span 10;
    grid-row: 1;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #clap {
    grid-column: 3;
    grid-row: 2;
  }
  #hihat {
    grid-column: 3;
    grid-row: 3;
  }
  #kick {
    grid-column: 4;
    grid-row: 3;
  }
  #openhat {
    grid-column: 5;
    grid-row: 3;
  }
  #boom {
    grid-column: 6;
    grid-row: 3;
  }
  #ride {
    grid-column: 7;
    grid-row: 3;
  }
  #snare {
    grid-column: 8;
    grid-row: 3;
  }
  #tom {
    grid-column: 9;
    grid-row: 3;
  }
  #tink {
    grid-column: 10;
    grid-row: 3;
  }
}
@media screen and (max-width: 500px) {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(48, 46, 46);
    color: white;
  }
  #app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .title {
    padding: 15px;
    background-color: rgb(67, 67, 67);
    font-size: large;
  }
  .main {
    margin-top: 10px;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: stretch;
    justify-content: center;
    gap: 1px 1px;
    flex-wrap: wrap;
    font-size: large;
  }
  .history {
    margin: 0;
    width: 100%;
    height: 100px;
    overflow: auto;
    font-size: 20px;
    padding: 1.5% 0 1.5% 1%;
    display: none;
  }
  .main p {
    text-align: left;
    font-size: 25px;
    width: 100%;
    padding: 8px;
    margin: 0;
  }
  .each_button {
    background-color: rgb(67, 67, 67);
    height: 100px;
    width: 160px;
    flex-grow: 1;
    border-radius: 3%;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
  }
  .history_button {
    margin: 5px;
    display: inline-flex;
    height: 50px;
    width: 80px;
    font-size: small;
  }
  #tink {
    flex-grow: 2;
  }
} ;
